<%- include('../templates/header.ejs') %>
<!-- <script src="/javascript/show.js" defer></script> -->
<%- include('../templates/nav.ejs') %>


        <head>
            <link rel="stylesheet" href="/css/background.css">
            <link rel="stylesheet" href="/css/show.css">
        </head>

        <div id="content">
            <%if (question != null) { %>
                <div id="wrapper">
                    <h1>Question <%- index+1 %></h1>
                    <h1>Score: <%- score %></h1>  
                </div>   
                <section class="questions-container">
                    <div class="question">
                        <h2><%=question.question%></h2>
                        <ul class="answers">
                            <% for(let i = 0; i < question.answer_choices.length; i++) { %>
                                <li><button class="choices" type="radio" name="answer" value="<%=question.answer_choices[i]%>"><%=question.answer_choices[i]%></button></li>
                            <% } %>
                        </ul>
                        <div class="submit-btn">
                            <form class="submitAnswer" method="POST" action="/game/validate">
                                <input type="hidden" id="selectedAnswer" name="selectedAnswer" value="">
                                <button class="submitbutton" type="submit">Next</button>
                            </form>
                        </div>
                    </div>
                </section>
            <% } else {%>
                <h2>Error</h2>
            <% } %>
        </div>
        
<%- include('../templates/footer.ejs') %>