<%- include('../templates/header.ejs') %>
<%- include('../templates/nav.ejs') %>

<% if(quiz) { %>}
    <h2>Score: <%=score%> </h2>
    <h2>Correct Answers: <%=correct%></h2>
    <h2>Incorrect Answers: <%=incorrect%></h2>
    <h1><a href="http://localhost:3000/game/show/<%-quiz._id%>">Share</a></h1>

<%- include('../templates/footer.ejs') %>