<%- include('../templates/header.ejs') %>
<%- include('../templates/nav.ejs') %>

<head>
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/results.css">
    <script src="/javascript/share.js" defer></script>
</head>

<div id="content">
    <div id="container">
        <div id="stats">
            <% if(quiz) { %>
            <h2>Score: <%=score%> </h2>
            <h2>Correct Answers: <%=correct%></h2>
            <h2>Incorrect Answers: <%=incorrect%></h2>
            <% } %>
        </div>
        <p id="urlholder" hidden>http://localhost:3000/game/show/<%-quiz._id%></p>
        <button id="share">Challenge a friend!</button>
    </div>
    <div id="flashmessagediv"></div>
</div>

<%- include('../templates/footer.ejs') %>